<div id="alt-name">
	<h1><%= link_to 'Maneesh Anand', root_path %></h1>
</div>

<div id="alt-nav">

	<ul>
		<li class="nav-li"><%= link_to 'home', root_path %></li>
		<li class="nav-li"><%= link_to 'about', about_path %></li>
		<li class="nav-li"><%= link_to 'portfolio', portfolio_path %></li>
	</ul>

</div> <!-- END nav -->

<div id="content">

	<h2>contact</h2>
	<ul>
		<li><%= image_tag 'gmail.png' %>maneesh DOT work AT gmail</li>
		<li><%= image_tag 'github.png' %><%= link_to 'github.com/maneeshnycda', 'http://github.com/maneeshnycda', target: 'new' %></li>
		<li><%= image_tag 'linkedin.png' %><%= link_to 'linkedin', 'https://www.linkedin.com/pub/maneesh-anand/9/393/1a', target: 'new'%></li>
	</ul>

	<p>
		Please send en email request for a copy of my resume.
	</p>

</div> <!-- END content -->