<div id="alt-name">
	<h1>Maneesh Anand</h1>
</div>

<div id="alt-nav">

	<ul>
		<li class="nav-li"><%= link_to 'home', root_path %></li>
		<li class="nav-li"><%= link_to 'about', about_path %></li>
		<li class="nav-li"><%= link_to 'contact', contact_path %></li>
	</ul>

</div> <!-- END nav -->

<div id="content">

	<h2>portfolio</h2>

	<div id="accordion">
	  
	  <h3>Raj Vyas M.D.</h3>
	  <div>
	    <p>
	    	Custom informational site for a Craniofacial Plastic Surgeon in Southern California.
	    </p>
		<p>
			Notes: Bootstrap grid/elements with custom CSS and jQueryUI.</p>
		<p>
			<%= link_to 'rajvyasmd.com', 'http://www.rajvyasmd.com', target: 'new' %>
		</p>
	  </div>

	  <h3>Pantano &amp; Gupta LLC</h3>
	  <div>
	    <p>
	    	Wordpress site and blog for law firm in New York, NY.
	    </p>
		<p>
			Notes: Edited PHP for custom headers &amp; footers.  Added podcast RSS feed.
		</p>
		<p>
			<%= link_to 'pantanogupta.com', 'http://www.pantanogupta.com', target: 'new' %>
		</p>
	  </div>

	  <h3>apbeat</h3>
	  <div>
	    <p>
	    	Bootcamp development project.  Shareable, social playlist for parties.
	    </p>
		<p>
			<%= link_to 'click here to open', 'http://apbeat.herokuapp.com/', target: 'new' %>
		</p>
	  </div>

	<h3>foodly</h3>
	  <div>
	    <p>
	    	Bootcamp development project.  Food ordering and restaurant menu management app.
	    </p>
		
		<p>
			<%= link_to 'click here to open', 'http://foodlyapp.herokuapp.com/', target: 'new' %>
		</p>
	  </div>

	<h3>mapt</h3>
	  <div>
		<p>
			Bootcamp development project.  Map-based event finder.
		</p>
		
		<p>
			<%= link_to 'click here to open', 'https://maptinfo.herokuapp.com/', target: "new" %>
		</p>
	  </div>
	
	</div>

</div> <!-- END content -->