<!DOCTYPE html>
<html>
<head>
  <title>Manand</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Roboto:300' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
	
	<script type="text/javascript">
		$(document).ready(function(){
	// animates nav li top border
		$('.nav-li').mouseenter(function(){
			$(this).css({"border-top": "0px solid #6595FF"}).animate({
		        'borderWidth': '6px',
		        'borderColor': '#6595FF'
		    	},500);
			}).mouseleave(function(){
		    	$(this).animate({
		        	'borderWidth':'0px',
		        	'borderColor':'#6595FF'
		       	},500);
			});		

		});
	</script>

<div id="wrapper">
	
	<%= yield %>

</div>

</body>
</html>
