<!DOCTYPE html>
<html>
<head>
  <title>Manand</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto:300' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
	<!-- google analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-58998425-1', 'auto');
	  ga('send', 'pageview');
	</script>
	
	<!-- mouse over effect -->
	<script type="text/javascript">
		$(document).ready(function(){
	// animates nav li top border
		$('.nav-li').mouseenter(function(){
			$(this).css({"border-top": "0px solid #6595FF"}).animate({
		        'borderWidth': '6px',
		        'borderColor': '#6595FF'
		    	},500);
			}).mouseleave(function(){
		    	$(this).animate({
		        	'borderWidth':'0px',
		        	'borderColor':'#6595FF'
		       	},500);
			});		

		});

	// for jQuery accordion	
		$(function() {
	    	$( "#accordion" ).accordion({
	      	collapsible: true, active: false
	    	});
	  	});
	</script>

<div id="wrapper">
	
	<%= yield %>

</div>

</body>
</html>
